.configuration {
    &-title {
        margin-bottom: 24px;
    }

    &-buttons {
        margin-top: 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > button {
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}