$boxRadius: 12px;
$aliBlue: rgb(20, 118, 254);

.login-form {
    position: relative;
    width: 550px;
    height: 300px;
    border: 1px solid var(--color-border);
    margin: 0 auto;
    padding: 24px;
    border-radius: $boxRadius;
    margin-top: 50% !important;
    transform: translateY(-50%);

    .ant-tabs-nav {
        margin-bottom: 32px !important;
    }

    .alipay-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 65px;
        height: 65px;
        background-color: #fff;
        border-top-right-radius: $boxRadius;
        overflow: hidden;
        cursor: pointer;

        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: $aliBlue;

            &-icon {
                position: absolute;
                top: 3px;
                right: 3px;
                color: #fff;
                font-size: 24px;
            }

            &-mask {
                width: 200%;
                height: 200%;
                position: absolute;
                transform: rotate(45deg) translate(-37px, 43px);

                background-color: #fff;
                transition: all .3s ease-in-out;
                overflow: hidden;

                &::after {
                    content: "";
                    width: 55px;
                    height: 55px;
                    border: 1px solid var(--color-border);
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: rotate(-45deg) translate(-3px, -62px);
                    border-bottom-left-radius: $boxRadius;
                    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16),
                    0 3px 6px 0 rgba(0, 0, 0, .12),
                    0 5px 12px 4px rgba(0, 0, 0, .09);
                    transition: all .3s ease-in-out;
                }
            }
        }

        &:hover {
            .alipay-box-inner-mask {
                transform: rotate(45deg) translate(-30px, 55px);

                &::after {
                    transform: rotate(-45deg) translate(-16px, -58px);
                }
            }
        }
    }
}