body {
    --amber-0: 254, 251, 235;
    --amber-1: 252, 245, 206;
    --amber-2: 249, 232, 158;
    --amber-3: 246, 216, 111;
    --amber-4: 243, 198, 65;
    --amber-5: 240, 177, 20;
    --amber-6: 200, 138, 15;
    --amber-7: 160, 102, 10;
    --amber-8: 120, 70, 6;
    --amber-9: 80, 43, 3;
    --black: 0, 0, 0;
    --blue-0: 234, 245, 255;
    --blue-1: 203, 231, 254;
    --blue-2: 152, 205, 253;
    --blue-3: 101, 178, 252;
    --blue-4: 50, 149, 251;
    --blue-5: 0, 119, 250;
    --blue-6: 0, 98, 214;
    --blue-7: 0, 79, 179;
    --blue-8: 0, 61, 143;
    --blue-9: 0, 44, 107;
    --cyan-0: 229, 247, 248;
    --cyan-1: 194, 239, 240;
    --cyan-2: 138, 221, 226;
    --cyan-3: 88, 203, 211;
    --cyan-4: 44, 184, 197;
    --cyan-5: 5, 164, 182;
    --cyan-6: 3, 134, 152;
    --cyan-7: 1, 105, 121;
    --cyan-8: 0, 77, 91;
    --cyan-9: 0, 50, 61;
    --green-0: 236, 247, 236;
    --green-1: 208, 240, 209;
    --green-2: 164, 224, 167;
    --green-3: 125, 209, 130;
    --green-4: 90, 194, 98;
    --green-5: 59, 179, 70;
    --green-6: 48, 149, 59;
    --green-7: 37, 119, 47;
    --green-8: 27, 89, 36;
    --green-9: 17, 60, 24;
    --grey-0: 249, 249, 249;
    --grey-1: 230, 232, 234;
    --grey-2: 198, 202, 205;
    --grey-3: 167, 171, 176;
    --grey-4: 136, 141, 146;
    --grey-5: 107, 112, 117;
    --grey-6: 85, 91, 97;
    --grey-7: 65, 70, 76;
    --grey-8: 46, 50, 56;
    --grey-9: 28, 31, 35;
    --indigo-0: 236, 239, 248;
    --indigo-1: 209, 216, 240;
    --indigo-2: 167, 179, 225;
    --indigo-3: 128, 144, 211;
    --indigo-4: 94, 111, 196;
    --indigo-5: 63, 81, 181;
    --indigo-6: 51, 66, 161;
    --indigo-7: 40, 52, 140;
    --indigo-8: 31, 40, 120;
    --indigo-9: 23, 29, 99;
    --light-blue-0: 233, 247, 253;
    --light-blue-1: 201, 236, 252;
    --light-blue-2: 149, 216, 248;
    --light-blue-3: 98, 195, 245;
    --light-blue-4: 48, 172, 241;
    --light-blue-5: 0, 149, 238;
    --light-blue-6: 0, 123, 202;
    --light-blue-7: 0, 99, 167;
    --light-blue-8: 0, 75, 131;
    --light-blue-9: 0, 53, 95;
    --light-green-0: 243, 248, 236;
    --light-green-1: 227, 240, 208;
    --light-green-2: 200, 226, 165;
    --light-green-3: 173, 211, 126;
    --light-green-4: 147, 197, 91;
    --light-green-5: 123, 182, 60;
    --light-green-6: 100, 152, 48;
    --light-green-7: 78, 121, 38;
    --light-green-8: 57, 91, 27;
    --light-green-9: 37, 61, 18;
    --lime-0: 242, 250, 230;
    --lime-1: 227, 246, 197;
    --lime-2: 203, 237, 142;
    --lime-3: 183, 227, 91;
    --lime-4: 167, 218, 44;
    --lime-5: 155, 209, 0;
    --lime-6: 126, 174, 0;
    --lime-7: 99, 139, 0;
    --lime-8: 72, 104, 0;
    --lime-9: 47, 70, 0;
    --orange-0: 255, 248, 234;
    --orange-1: 254, 238, 204;
    --orange-2: 254, 217, 152;
    --orange-3: 253, 193, 101;
    --orange-4: 253, 166, 51;
    --orange-5: 252, 136, 0;
    --orange-6: 210, 103, 0;
    --orange-7: 168, 74, 0;
    --orange-8: 126, 49, 0;
    --orange-9: 84, 29, 0;
    --pink-0: 253, 236, 239;
    --pink-1: 251, 207, 216;
    --pink-2: 246, 160, 181;
    --pink-3: 242, 115, 150;
    --pink-4: 237, 72, 123;
    --pink-5: 233, 30, 99;
    --pink-6: 197, 19, 86;
    --pink-7: 162, 11, 72;
    --pink-8: 126, 5, 58;
    --pink-9: 90, 1, 43;
    --purple-0: 247, 233, 247;
    --purple-1: 239, 202, 240;
    --purple-2: 221, 155, 224;
    --purple-3: 201, 111, 209;
    --purple-4: 180, 73, 194;
    --purple-5: 158, 40, 179;
    --purple-6: 135, 30, 158;
    --purple-7: 113, 22, 138;
    --purple-8: 92, 15, 117;
    --purple-9: 73, 10, 97;
    --red-0: 254, 242, 237;
    --red-1: 254, 221, 210;
    --red-2: 253, 183, 165;
    --red-3: 251, 144, 120;
    --red-4: 250, 102, 76;
    --red-5: 249, 57, 32;
    --red-6: 213, 37, 21;
    --red-7: 178, 20, 12;
    --red-8: 142, 8, 5;
    --red-9: 106, 1, 3;
    --teal-0: 228, 247, 244;
    --teal-1: 192, 240, 232;
    --teal-2: 135, 224, 211;
    --teal-3: 84, 209, 193;
    --teal-4: 39, 194, 176;
    --teal-5: 0, 179, 161;
    --teal-6: 0, 149, 137;
    --teal-7: 0, 119, 111;
    --teal-8: 0, 89, 85;
    --teal-9: 0, 60, 58;
    --violet-0: 243, 237, 249;
    --violet-1: 226, 209, 244;
    --violet-2: 196, 167, 233;
    --violet-3: 166, 127, 221;
    --violet-4: 136, 91, 210;
    --violet-5: 106, 58, 199;
    --violet-6: 87, 47, 179;
    --violet-7: 70, 37, 158;
    --violet-8: 54, 28, 138;
    --violet-9: 40, 20, 117;
    --white: 255, 255, 255;
    --yellow-0: 255, 253, 234;
    --yellow-1: 254, 251, 203;
    --yellow-2: 253, 243, 152;
    --yellow-3: 252, 232, 101;
    --yellow-4: 251, 218, 50;
    --yellow-5: 250, 200, 0;
    --yellow-6: 208, 170, 0;
    --yellow-7: 167, 139, 0;
    --yellow-8: 125, 106, 0;
    --yellow-9: 83, 72, 0;
  }
  
  body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB",
      "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    --color-white: rgba(var(--white), 1);
    --color-black: rgba(var(--black), 1);
    --color-primary: rgba(var(--blue-5), 1);
    --color-primary-hover: rgba(var(--blue-6), 1);
    --color-primary-active: rgba(var(--blue-7), 1);
    --color-primary-disabled: rgba(var(--blue-2), 1);
    --color-primary-light-default: rgba(var(--blue-0), 1);
    --color-primary-light-hover: rgba(var(--blue-1), 1);
    --color-primary-light-active: rgba(var(--blue-2), 1);
    --color-secondary: rgba(var(--blue-5), 1);
    --color-secondary-hover: rgba(var(--blue-6), 1);
    --color-secondary-active: rgba(var(--blue-7), 1);
    --color-secondary-disabled: rgba(var(--blue-2), 1);
    --color-secondary-light-default: rgba(var(--blue-0), 1);
    --color-secondary-light-hover: rgba(var(--blue-1), 1);
    --color-secondary-light-active: rgba(var(--blue-2), 1);
    --color-tertiary: rgba(var(--grey-5), 1);
    --color-tertiary-hover: rgba(var(--grey-6), 1);
    --color-tertiary-active: rgba(var(--grey-7), 1);
    --color-tertiary-light-default: rgba(var(--grey-0), 1);
    --color-tertiary-light-hover: rgba(var(--grey-1), 1);
    --color-tertiary-light-active: rgba(var(--grey-2), 1);
    --color-default: rgba(var(--grey-0), 1);
    --color-default-hover: rgba(var(--grey-1), 1);
    --color-default-active: rgba(var(--grey-2), 1);
    --color-info: rgba(var(--blue-5), 1);
    --color-info-hover: rgba(var(--blue-6), 1);
    --color-info-active: rgba(var(--blue-7), 1);
    --color-info-disabled: rgba(var(--blue-2), 1);
    --color-info-light-default: rgba(var(--blue-0), 1);
    --color-info-light-hover: rgba(var(--blue-1), 1);
    --color-info-light-active: rgba(var(--blue-2), 1);
    --color-success: rgba(var(--green-5), 1);
    --color-success-hover: rgba(var(--green-6), 1);
    --color-success-active: rgba(var(--green-7), 1);
    --color-success-disabled: rgba(var(--green-2), 1);
    --color-success-light-default: rgba(var(--green-0), 1);
    --color-success-light-hover: rgba(var(--green-1), 1);
    --color-success-light-active: rgba(var(--green-2), 1);
    --color-danger: rgba(var(--red-5), 1);
    --color-danger-hover: rgba(var(--red-6), 1);
    --color-danger-active: rgba(var(--red-7), 1);
    --color-danger-light-default: rgba(var(--red-0), 1);
    --color-danger-light-hover: rgba(var(--red-1), 1);
    --color-danger-light-active: rgba(var(--red-2), 1);
    --color-warning: rgba(var(--orange-5), 1);
    --color-warning-hover: rgba(var(--orange-6), 1);
    --color-warning-active: rgba(var(--orange-7), 1);
    --color-warning-light-default: rgba(var(--orange-0), 1);
    --color-warning-light-hover: rgba(var(--orange-1), 1);
    --color-warning-light-active: rgba(var(--orange-2), 1);
    --color-focus-border: rgba(var(--blue-5), 1);
    --color-disabled-text: rgba(var(--grey-9), 0.35);
    --color-disabled-border: rgba(var(--grey-1), 1);
    --color-disabled-bg: rgba(var(--grey-2), 1);
    --color-disabled-fill: rgba(var(--grey-8), 0.04);
    --color-shadow: rgba(0, 0, 0, 0.04);
    --color-link: rgba(var(--blue-5), 1);
    --color-link-hover: rgba(var(--blue-6), 1);
    --color-link-active: rgba(var(--blue-7), 1);
    --color-link-visited: rgba(var(--blue-5), 1);
    --color-border: rgba(var(--grey-9), 0.08);
    --color-nav-bg: rgba(var(--white), 1);
    --overlay-bg: rgba(22, 22, 26, 0.6);
    --color-fill-0: rgba(var(--grey-8), 0.05);
    --color-fill-1: rgba(var(--grey-8), 0.09);
    --color-fill-2: rgba(var(--grey-8), 0.13);
    --color-bg-0: var(--color-white);
    --color-bg-1: var(--color-white);
    --color-bg-2: var(--color-white);
    --color-bg-3: var(--color-white);
    --color-bg-4: var(--color-white);
    --color-text-0: rgba(var(--grey-9), 1);
    --color-text-1: rgba(var(--grey-9), 0.8);
    --color-text-2: rgba(var(--grey-9), 0.6);
    --color-text-3: rgba(var(--grey-9), 0.35);
    --shadow-elevated: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 4px 14px rgba(0, 0, 0, 0.1);
    --border-radius-extra-small: 3px;
    --border-radius-small: 3px;
    --border-radius-medium: 6px;
    --border-radius-large: 12px;
    --border-radius-circle: 50%;
  }