.card-content-box {
  margin-bottom: 24px;

  .card-content-rows {
    margin-bottom: 16px;

    &:last-child {
      margin: 0;
    }
  }

  .card-content-cols {
    height: 164px;

      &-title {
        &.ant-typography {
          margin: 0;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
        }
      }

      &-description {
        color: var(--color-text-2);
        font-size: 14px;
        line-height: 20px;
      }
  }

  .card-content-card {
    height: 164px;
  }
}