$headerHeight: 60px;

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $headerHeight !important;
  box-sizing: border-box;
  
  background-color: #fff !important;
  border-bottom: 1px solid var(--color-border);

  &-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &-logo {
      height: 32px;
      width: 32px;
    }
  
    > h4 {
      margin: 0 !important;
      margin-left: 16px !important;
      line-height: $headerHeight;
      color: var(--color-text-0) !important;
    }
  }

  &-user {
    > button {
      margin-left: 12px;
    }
  }
}