.edit-document {
  width: 100vw;
  height: 100vh;

  min-width: 1100;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    box-sizing: border-box;
    padding: 12px 32px;
    border-bottom: 1px solid var(--color-border);

    &-opts {
      > button {
        margin-right: 8px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}