.site-footer {
    padding: 10px 50px !important;
    
    &-beian {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > a {
            display: inline-block;
            margin-left: 8px;
            color: var(--color-text-1) !important;

            &:hover {
                color: var(--color-text-2) !important;
            }
        }
    }
}
